In [2]:
#indexing
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
#All indexes except MultiIndex are 1-D Data structures --. combining functionality of Python set and ndarrays
#indexes are immutable and cannot be changed
#indexes are similar to Python sets - implemented using hash tables.

college = pd.read_csv('data/college.csv')
cols = college.columns
rws = college.values

In [10]:
#cartesian product

s1 = pd.Series(index = list('aaab'), data = np.arange(4))
s2 = pd.Series(index = list('caaaab'), data = np.arange(6))

s1 + s2

a    1.0
a    2.0
a    3.0
a    4.0
a    2.0
a    3.0
a    4.0
a    5.0
a    3.0
a    4.0
a    5.0
a    6.0
b    8.0
c    NaN
dtype: float64

In [13]:
#no cartesian product
s1 = pd.Series(index = list('aabbccdd'), data = np.arange(8))
s2 = pd.Series(index = list('aabbccdd'), data = np.arange(8))
s1 + s2 

#cartesian product
s1 = pd.Series(index = list('aabbccdd'), data = np.arange(8))
s2 = pd.Series(index = list('ddccbbaa'), data = np.arange(8))
s1 + s2

a    6
a    7
a    7
a    8
b    6
b    7
b    7
b    8
c    6
c    7
c    7
c    8
d    6
d    7
d    7
d    8
dtype: int32

In [16]:
#exploding indexes
#adding 2 large series that hve indexes with few missing values

employee = pd.read_csv('data/employee.csv', index_col = 'RACE')
employee.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
RACE,,,,,,,,,
Hispanic/Latino,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Full Time,Female,Active,2006-06-12,2012-10-13
Hispanic/Latino,1,LIBRARY ASSISTANT,Library,26125.0,Full Time,Female,Active,2000-07-19,2010-09-18
White,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,Full Time,Male,Active,2015-02-03,2015-02-03
White,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,Full Time,Male,Active,1982-02-08,1991-05-25
White,4,ELECTRICIAN,General Services Department,56347.0,Full Time,Male,Active,1989-06-19,1994-10-22

In [26]:
salary1 = employee['BASE_SALARY'].copy()
salary2 = employee['BASE_SALARY'].copy()
salary1.equals(salary2)
salary1 = salary1.sort_index()
salary_add = salary1 + salary2
salary_add.head()
len(salary_add) #exploding indexes.. the cartesian products

1175424

In [28]:
#fill missing value using add
baseball_14 = pd.read_csv('data/baseball14.csv', index_col='playerID')
baseball_15 = pd.read_csv('data/baseball15.csv', index_col='playerID')
baseball_16 = pd.read_csv('data/baseball16.csv', index_col='playerID')

baseball_14.head()

,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,,,,,,,,,,,,,,,,,,,,,
altuvjo01,2014,1,HOU,AL,158,660,85,225,47,3,...,59.0,56.0,9.0,36,53.0,7.0,5.0,1.0,5.0,20.0
cartech02,2014,1,HOU,AL,145,507,68,115,21,1,...,88.0,5.0,2.0,56,182.0,6.0,5.0,0.0,4.0,12.0
castrja01,2014,1,HOU,AL,126,465,43,103,21,2,...,56.0,1.0,0.0,34,151.0,1.0,9.0,1.0,3.0,11.0
corpoca01,2014,1,HOU,AL,55,170,22,40,6,0,...,19.0,0.0,0.0,14,37.0,0.0,3.0,1.0,2.0,3.0
dominma01,2014,1,HOU,AL,157,564,51,121,17,0,...,57.0,0.0,1.0,29,125.0,2.0,5.0,2.0,7.0,23.0

In [31]:
baseball_14.index.difference(baseball_15.index)
baseball_14.index.difference(baseball_16.index)

Index(['cartech02', 'corpoca01', 'dominma01', 'fowlede01', 'grossro01',
       'guzmaje01', 'hoeslj01', 'krausma01', 'preslal01', 'singljo02',
       'villajo01'],
      dtype='object', name='playerID')

In [32]:
#finding number of hits ech player has in 3 years

hits_14 = baseball_14['H']
hits_15 = baseball_15['H']
hits_16 = baseball_16['H']

hits_14.head()

playerID
altuvjo01    225
cartech02    115
castrja01    103
corpoca01     40
dominma01    121
Name: H, dtype: int64

In [34]:
hits_14.add(hits_15, fill_value=0)

playerID
altuvjo01    425.0
cartech02    193.0
castrja01    174.0
congeha01     46.0
corpoca01     40.0
correca01    108.0
dominma01    121.0
fowlede01    120.0
gattiev01    139.0
gomezca01     36.0
gonzama01    175.0
grossro01     84.0
guzmaje01     31.0
hoeslj01      21.0
krausma01     36.0
lowrije01     51.0
marisja01    127.0
preslal01     62.0
rasmuco01    103.0
singljo02     52.0
springe01    175.0
tuckepr01     73.0
valbulu01     97.0
villajo01     88.0
Name: H, dtype: float64

In [38]:
hits_total = hits_14.add(hits_15, fill_value=0).add(hits_16, fill_value=0)

hits_total.hasnans

False

In [41]:
df_14 = baseball_14[['G', 'AB', 'R', 'H']]
df_14.head()

df_15 = baseball_15[['AB', 'R', 'H', 'HR']]
df_15.head()

(df_14 + df_15).head(20).style.highlight_null('yellow')

In [42]:
df_14.add(df_15, fill_value=0).head(10).style.highlight_null('yellow')