In [2]:
#indexing
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
#All indexes except MultiIndex are 1-D Data structures --. combining functionality of Python set and ndarrays
#indexes are immutable and cannot be changed
#indexes are similar to Python sets - implemented using hash tables.

college = pd.read_csv('data/college.csv')
cols = college.columns
rws = college.values

In [10]:
#cartesian product

s1 = pd.Series(index = list('aaab'), data = np.arange(4))
s2 = pd.Series(index = list('caaaab'), data = np.arange(6))

s1 + s2

a    1.0
a    2.0
a    3.0
a    4.0
a    2.0
a    3.0
a    4.0
a    5.0
a    3.0
a    4.0
a    5.0
a    6.0
b    8.0
c    NaN
dtype: float64

In [13]:
#no cartesian product
s1 = pd.Series(index = list('aabbccdd'), data = np.arange(8))
s2 = pd.Series(index = list('aabbccdd'), data = np.arange(8))
s1 + s2 

#cartesian product
s1 = pd.Series(index = list('aabbccdd'), data = np.arange(8))
s2 = pd.Series(index = list('ddccbbaa'), data = np.arange(8))
s1 + s2

a    6
a    7
a    7
a    8
b    6
b    7
b    7
b    8
c    6
c    7
c    7
c    8
d    6
d    7
d    7
d    8
dtype: int32

In [16]:
#exploding indexes
#adding 2 large series that hve indexes with few missing values

employee = pd.read_csv('data/employee.csv', index_col = 'RACE')
employee.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
RACE,,,,,,,,,
Hispanic/Latino,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Full Time,Female,Active,2006-06-12,2012-10-13
Hispanic/Latino,1,LIBRARY ASSISTANT,Library,26125.0,Full Time,Female,Active,2000-07-19,2010-09-18
White,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,Full Time,Male,Active,2015-02-03,2015-02-03
White,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,Full Time,Male,Active,1982-02-08,1991-05-25
White,4,ELECTRICIAN,General Services Department,56347.0,Full Time,Male,Active,1989-06-19,1994-10-22

In [26]:
salary1 = employee['BASE_SALARY'].copy()
salary2 = employee['BASE_SALARY'].copy()
salary1.equals(salary2)
salary1 = salary1.sort_index()
salary_add = salary1 + salary2
salary_add.head()
len(salary_add) #exploding indexes.. the cartesian products

1175424

In [28]:
#fill missing value using add
baseball_14 = pd.read_csv('data/baseball14.csv', index_col='playerID')
baseball_15 = pd.read_csv('data/baseball15.csv', index_col='playerID')
baseball_16 = pd.read_csv('data/baseball16.csv', index_col='playerID')

baseball_14.head()

,yearID,stint,teamID,lgID,G,AB,R,H,2B,3B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
playerID,,,,,,,,,,,,,,,,,,,,,
altuvjo01,2014,1,HOU,AL,158,660,85,225,47,3,...,59.0,56.0,9.0,36,53.0,7.0,5.0,1.0,5.0,20.0
cartech02,2014,1,HOU,AL,145,507,68,115,21,1,...,88.0,5.0,2.0,56,182.0,6.0,5.0,0.0,4.0,12.0
castrja01,2014,1,HOU,AL,126,465,43,103,21,2,...,56.0,1.0,0.0,34,151.0,1.0,9.0,1.0,3.0,11.0
corpoca01,2014,1,HOU,AL,55,170,22,40,6,0,...,19.0,0.0,0.0,14,37.0,0.0,3.0,1.0,2.0,3.0
dominma01,2014,1,HOU,AL,157,564,51,121,17,0,...,57.0,0.0,1.0,29,125.0,2.0,5.0,2.0,7.0,23.0

In [31]:
baseball_14.index.difference(baseball_15.index)
baseball_14.index.difference(baseball_16.index)

Index(['cartech02', 'corpoca01', 'dominma01', 'fowlede01', 'grossro01',
       'guzmaje01', 'hoeslj01', 'krausma01', 'preslal01', 'singljo02',
       'villajo01'],
      dtype='object', name='playerID')

In [32]:
#finding number of hits ech player has in 3 years

hits_14 = baseball_14['H']
hits_15 = baseball_15['H']
hits_16 = baseball_16['H']

hits_14.head()

playerID
altuvjo01    225
cartech02    115
castrja01    103
corpoca01     40
dominma01    121
Name: H, dtype: int64

In [34]:
hits_14.add(hits_15, fill_value=0)

playerID
altuvjo01    425.0
cartech02    193.0
castrja01    174.0
congeha01     46.0
corpoca01     40.0
correca01    108.0
dominma01    121.0
fowlede01    120.0
gattiev01    139.0
gomezca01     36.0
gonzama01    175.0
grossro01     84.0
guzmaje01     31.0
hoeslj01      21.0
krausma01     36.0
lowrije01     51.0
marisja01    127.0
preslal01     62.0
rasmuco01    103.0
singljo02     52.0
springe01    175.0
tuckepr01     73.0
valbulu01     97.0
villajo01     88.0
Name: H, dtype: float64

In [38]:
hits_total = hits_14.add(hits_15, fill_value=0).add(hits_16, fill_value=0)

hits_total.hasnans

False

In [41]:
df_14 = baseball_14[['G', 'AB', 'R', 'H']]
df_14.head()

df_15 = baseball_15[['AB', 'R', 'H', 'HR']]
df_15.head()

(df_14 + df_15).head(20).style.highlight_null('yellow')

In [42]:
df_14.add(df_15, fill_value=0).head(10).style.highlight_null('yellow')

In [48]:
#appending different columns from different df

employee = pd.read_csv('data/employee.csv')
dept_sal = employee[['DEPARTMENT', 'BASE_SALARY']]

#sort by dept and drop duplicates to keep first row of each dept
dept_sal = dept_sal.sort_values(['DEPARTMENT', 'BASE_SALARY'], ascending=[True, False])
max_dept_sal = dept_sal.drop_duplicates(subset='DEPARTMENT')


max_dept_sal = max_dept_sal.set_index('DEPARTMENT')
employee = employee.set_index('DEPARTMENT')

employee['MAX_DEPT_SALARY'] = max_dept_sal['BASE_SALARY']
employee.head()

,UNIQUE_ID,POSITION_TITLE,BASE_SALARY,RACE,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE,MAX_DEPT_SALARY
DEPARTMENT,,,,,,,,,,
Municipal Courts Department,0,ASSISTANT DIRECTOR (EX LVL),121862.0,Hispanic/Latino,Full Time,Female,Active,2006-06-12,2012-10-13,121862.0
Library,1,LIBRARY ASSISTANT,26125.0,Hispanic/Latino,Full Time,Female,Active,2000-07-19,2010-09-18,107763.0
Houston Police Department-HPD,2,POLICE OFFICER,45279.0,White,Full Time,Male,Active,2015-02-03,2015-02-03,199596.0
Houston Fire Department (HFD),3,ENGINEER/OPERATOR,63166.0,White,Full Time,Male,Active,1982-02-08,1991-05-25,210588.0
General Services Department,4,ELECTRICIAN,56347.0,White,Full Time,Male,Active,1989-06-19,1994-10-22,89194.0

In [49]:
college = pd.read_csv('data/college.csv', index_col='INSTNM')
college.dtypes

CITY                   object
STABBR                 object
HBCU                  float64
MENONLY               float64
WOMENONLY             float64
RELAFFIL                int64
SATVRMID              float64
SATMTMID              float64
DISTANCEONLY          float64
UGDS                  float64
UGDS_WHITE            float64
UGDS_BLACK            float64
UGDS_HISP             float64
UGDS_ASIAN            float64
UGDS_AIAN             float64
UGDS_NHPI             float64
UGDS_2MOR             float64
UGDS_NRA              float64
UGDS_UNKN             float64
PPTUG_EF              float64
CURROPER                int64
PCTPELL               float64
PCTFLOAN              float64
UG25ABV               float64
MD_EARN_WNE_P10        object
GRAD_DEBT_MDN_SUPP     object
dtype: object

In [52]:
college['MD_EARN_WNE_P10'].iloc[0]
college['GRAD_DEBT_MDN_SUPP'].iloc[0]

'33888'

In [54]:
cols = ['MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP']
for col in cols:
    college[col] = pd.to_numeric(college[col], errors='coerce')

In [55]:
college.dtypes.loc[cols]

MD_EARN_WNE_P10       float64
GRAD_DEBT_MDN_SUPP    float64
dtype: object

In [56]:
college_n = college.select_dtypes(include=[np.number])
college_n.head()

,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,UGDS,UGDS_WHITE,UGDS_BLACK,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,,,,
Alabama A & M University,1.0,0.0,0.0,0,424.0,420.0,0.0,4206.0,0.0333,0.9353,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,0.0,0.0,0.0,0,570.0,565.0,0.0,11383.0,0.5922,0.2600,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700.0,21941.5
Amridge University,0.0,0.0,0.0,1,NaN,NaN,1.0,291.0,0.2990,0.4192,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100.0,23370.0
University of Alabama in Huntsville,0.0,0.0,0.0,0,595.0,590.0,0.0,5451.0,0.6988,0.1255,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500.0,24097.0
Alabama State University,1.0,0.0,0.0,0,425.0,430.0,0.0,4811.0,0.0158,0.9208,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600.0,33118.5

In [58]:
criteria = college_n.nunique() == 2
criteria.head()

HBCU          True
MENONLY       True
WOMENONLY     True
RELAFFIL      True
SATVRMID     False
dtype: bool

In [59]:
binary_cols = college_n.columns[criteria].tolist()
binary_cols

['HBCU', 'MENONLY', 'WOMENONLY', 'RELAFFIL', 'DISTANCEONLY', 'CURROPER']

In [60]:
college_n2 = college_n.drop(labels=binary_cols, axis='columns')
college_n2.head()

,SATVRMID,SATMTMID,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,
Alabama A & M University,424.0,420.0,4206.0,0.0333,0.9353,0.0055,0.0019,0.0024,0.0019,0.0000,0.0059,0.0138,0.0656,0.7356,0.8284,0.1049,30300.0,33888.0
University of Alabama at Birmingham,570.0,565.0,11383.0,0.5922,0.2600,0.0283,0.0518,0.0022,0.0007,0.0368,0.0179,0.0100,0.2607,0.3460,0.5214,0.2422,39700.0,21941.5
Amridge University,NaN,NaN,291.0,0.2990,0.4192,0.0069,0.0034,0.0000,0.0000,0.0000,0.0000,0.2715,0.4536,0.6801,0.7795,0.8540,40100.0,23370.0
University of Alabama in Huntsville,595.0,590.0,5451.0,0.6988,0.1255,0.0382,0.0376,0.0143,0.0002,0.0172,0.0332,0.0350,0.2146,0.3072,0.4596,0.2640,45500.0,24097.0
Alabama State University,425.0,430.0,4811.0,0.0158,0.9208,0.0121,0.0019,0.0010,0.0006,0.0098,0.0243,0.0137,0.0892,0.7347,0.7554,0.1270,26600.0,33118.5

In [63]:
#find index label of max value for each column
max_cols = college_n2.idxmax()
unique_max_cols = max_cols.unique()
unique_max_cols[:5]

array(['California Institute of Technology',
       'University of Phoenix-Arizona',
       "Mr Leon's School of Hair Design-Moscow",
       'Velvatex College of Beauty Culture',
       'Thunderbird School of Global Management'], dtype=object)

In [64]:
college_n2.loc[unique_max_cols].style.highlight_max()

In [68]:
#replicating idxmax with other methods

college = pd.read_csv('data/college.csv', index_col='INSTNM')
cols = ['MD_EARN_WNE_P10', 'GRAD_DEBT_MDN_SUPP']
for col in cols:
    college[col] = pd.to_numeric(college[col], errors='coerce')
college_n = college.select_dtypes(include=[np.number])
criteria = college_n.nunique() == 2
binary_cols = college_n.columns[criteria].tolist()
college_n = college_n.drop(labels=binary_cols, axis='columns')

college_n.max().head()

SATVRMID         765.0
SATMTMID         785.0
UGDS          151558.0
UGDS_WHITE         1.0
UGDS_BLACK         1.0
dtype: float64

In [69]:
college_n.eq(college_n.max()).head()

,SATVRMID,SATMTMID,UGDS,UGDS_WHITE,UGDS_BLACK,UGDS_HISP,UGDS_ASIAN,UGDS_AIAN,UGDS_NHPI,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
INSTNM,,,,,,,,,,,,,,,,,,
Alabama A & M University,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
University of Alabama at Birmingham,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Amridge University,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
University of Alabama in Huntsville,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
Alabama State University,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [74]:
has_row_max = college_n.eq(college_n.max()).any(axis='columns')
has_row_max.head()
college_n.shape
has_row_max.sum()

401

In [79]:
has_row_max2 = college_n.eq(college_n.max()).cumsum().cumsum().eq(1).any(axis = 'columns')

In [80]:
has_row_max2.sum()

16

In [82]:
idxmax_cols = has_row_max2[has_row_max2].index
set(college_n.idxmax().unique()) == set(idxmax_cols)

True

In [ ]:
#How it works
#An excerpt from the book
'''
The first step replicates work from the previous recipe by converting two columns to
numeric and eliminating the binary columns. We find the maximum value of each column
n step 2. Care needs to be taken here as pandas silently drops columns that it cannot
produce a maximum. If this happens, then step 3 will still complete but produce all False
values for each column without an available maximum.
Step 4 uses the any method to scan across each row in search of at least one True value.
Any row with at least one True value contains a maximum value for a column. We sum up
he resulting boolean Series in step 5 to determine how many rows contain a maximum.
Somewhat unexpectedly, there are far more rows than columns. Step 6 gives insight on why
his happens. We take a cumulative sum of the output from step 3 and detect the total
number of rows that equal the maximum for each column.
'''
'''
Many colleges have 100% of their student population as only a single race. This is by far the
largest contributor to the multiple rows with maximums. As you can see, there is only one
row with a maximum value for both SAT score columns and undergraduate population,
but several of the race columns have a tie for the maximum.
Our goal is to find the first row with the maximum value. We need to take the cumulative
sum once more so that each column has only a single row equal to 1. Step 8 formats the
code to have one method per line and runs the any method exactly as it was done in step 4.
If this step is successful, then we should have no more True values than the number of
columns. Step 9 asserts that this is true.
To validate that we have found the same columns as idxmax in the previous columns, we
use boolean selection on has_row_max2 with itself. The columns will be in a different order
so we convert the sequence of column names to sets, which are inherently unordered to
compare equality.
'''