In [2]:
#indexing
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
#All indexes except MultiIndex are 1-D Data structures --. combining functionality of Python set and ndarrays
#indexes are immutable and cannot be changed
#indexes are similar to Python sets - implemented using hash tables.

college = pd.read_csv('data/college.csv')
cols = college.columns
rws = college.values

In [10]:
#cartesian product

s1 = pd.Series(index = list('aaab'), data = np.arange(4))
s2 = pd.Series(index = list('caaaab'), data = np.arange(6))

s1 + s2

a    1.0
a    2.0
a    3.0
a    4.0
a    2.0
a    3.0
a    4.0
a    5.0
a    3.0
a    4.0
a    5.0
a    6.0
b    8.0
c    NaN
dtype: float64

In [13]:
#no cartesian product
s1 = pd.Series(index = list('aabbccdd'), data = np.arange(8))
s2 = pd.Series(index = list('aabbccdd'), data = np.arange(8))
s1 + s2 

#cartesian product
s1 = pd.Series(index = list('aabbccdd'), data = np.arange(8))
s2 = pd.Series(index = list('ddccbbaa'), data = np.arange(8))
s1 + s2

a    6
a    7
a    7
a    8
b    6
b    7
b    7
b    8
c    6
c    7
c    7
c    8
d    6
d    7
d    7
d    8
dtype: int32

In [16]:
#exploding indexes
#adding 2 large series that hve indexes with few missing values

employee = pd.read_csv('data/employee.csv', index_col = 'RACE')
employee.head()

,UNIQUE_ID,POSITION_TITLE,DEPARTMENT,BASE_SALARY,EMPLOYMENT_TYPE,GENDER,EMPLOYMENT_STATUS,HIRE_DATE,JOB_DATE
RACE,,,,,,,,,
Hispanic/Latino,0,ASSISTANT DIRECTOR (EX LVL),Municipal Courts Department,121862.0,Full Time,Female,Active,2006-06-12,2012-10-13
Hispanic/Latino,1,LIBRARY ASSISTANT,Library,26125.0,Full Time,Female,Active,2000-07-19,2010-09-18
White,2,POLICE OFFICER,Houston Police Department-HPD,45279.0,Full Time,Male,Active,2015-02-03,2015-02-03
White,3,ENGINEER/OPERATOR,Houston Fire Department (HFD),63166.0,Full Time,Male,Active,1982-02-08,1991-05-25
White,4,ELECTRICIAN,General Services Department,56347.0,Full Time,Male,Active,1989-06-19,1994-10-22

In [26]:
salary1 = employee['BASE_SALARY'].copy()
salary2 = employee['BASE_SALARY'].copy()
salary1.equals(salary2)
salary1 = salary1.sort_index()
salary_add = salary1 + salary2
salary_add.head()
len(salary_add) #exploding indexes.. the cartesian products

1175424