In [1]:
#split apply combine
#dividing dataset into independent groups
#using groupby
#most common use of groupby object is to perform aggregation
#determining average arrival delay of each flight

import pandas as pd
import numpy as np 

flights = pd.read_csv('data/flights.csv')
flights.head()

,MONTH,DAY,WEEKDAY,AIRLINE,ORG_AIR,DEST_AIR,SCHED_DEP,DEP_DELAY,AIR_TIME,DIST,SCHED_ARR,ARR_DELAY,DIVERTED,CANCELLED
0,1,1,4,WN,LAX,SLC,1625,58.0,94.0,590,1905,65.0,0,0
1,1,1,4,UA,DEN,IAD,823,7.0,154.0,1452,1333,-13.0,0,0
2,1,1,4,MQ,DFW,VPS,1305,36.0,85.0,641,1453,35.0,0,0
3,1,1,4,AA,DFW,DCA,1555,7.0,126.0,1192,1935,-7.0,0,0
4,1,1,4,WN,LAX,MCI,1720,48.0,166.0,1363,2225,39.0,0,0

In [2]:
#grouping flights by airline and then calling the aggregate method
flights.groupby('AIRLINE').agg({'ARR_DELAY':'mean'}).head()
flights.groupby('AIRLINE')['ARR_DELAY'].agg('mean').head()

AIRLINE
AA    5.542661
AS   -0.833333
B6    8.692593
DL    0.339691
EV    7.034580
Name: ARR_DELAY, dtype: float64

In [10]:
'''
agg with dictionary
agg with list
directly applying appropriate agg function without agg()
'''

#finding number of cancelled flights for every airline per weekday
#finding number and percentage of cancelled and diverted flights for every airline per weekday
#for each origin and destination finding total number of flights the number and percentage of cancelled flights and average and variance of airtime

flights.groupby(['AIRLINE', 'WEEKDAY'])['CANCELLED', 'DIVERTED'].agg(['sum', 'mean']).head(7)

                CANCELLED           DIVERTED
                      sum      mean      sum      mean
AIRLINE WEEKDAY
AA      1              41  0.032106        6  0.004699
        2               9  0.007341        2  0.001631
        3              16  0.011949        2  0.001494
        4              20  0.015004        5  0.003751
        5              18  0.014151        1  0.000786
        6              21  0.018667        9  0.008000
        7              29  0.021837        1  0.000753

In [12]:
#performing aggregation with groupby() to create a df with MultiIndex for rows and cols

#find total and avg miles flown and max and min arrival delay for each airline for each weekday
airline_info = flights.groupby(['AIRLINE', 'WEEKDAY']).agg({'DIST':['sum', 'mean'], 'ARR_DELAY': ['min', 'max']}).astype(int)
airline_info.head(7)

                    DIST       ARR_DELAY
                     sum  mean       min  max
AIRLINE WEEKDAY
AA      1        1455386  1139       -60  551
        2        1358256  1107       -52  725
        3        1496665  1117       -45  473
        4        1452394  1089       -46  349
        5        1427749  1122       -41  732
        6        1265340  1124       -50  858
        7        1461906  1100       -49  626

In [8]:
#multiindexing with 2 levels
#squashing the levels..!

level0 = airline_info.columns.get_level_values(0)
level1 = airline_info.columns.get_level_values(1)
print(level0)
print(level1)
#see table on page 226 of book to get better idea of squashing!!

#we can use reset_index() to set the index to single level and return the df

#aggregating functions - bottom level
#aggregating columns - top level

Index(['DIST', 'DIST', 'ARR_DELAY', 'ARR_DELAY'], dtype='object')
Index(['sum', 'mean', 'min', 'max'], dtype='object')

In [6]:
#by default - end of groupby operation pandas puts all grouping columns in the index
#as_index parameter can be set to false to avoid this

flights.groupby(['AIRLINE'], as_index=False)['DIST'].agg('mean').round(0)

   AIRLINE    DIST
0       AA  1114.0
1       AS  1066.0
2       B6  1772.0
3       DL   866.0
4       EV   460.0
5       F9   970.0
6       HA  2615.0
7       MQ   404.0
8       NK  1047.0
9       OO   511.0
10      UA  1231.0
11      US  1181.0
12      VX  1240.0
13      WN   810.0

In [14]:
#using college data set to calc mean and std dev of student pop per state
college = pd.read_csv('data/college.csv')
college.groupby('STABBR')['UGDS'].agg(['mean', 'std']).round(0).head()

#here the output is not what is desired.
#we aren't looking for mean and SD of entire group, but max number of SD away from mean for any one institution!

          mean      std
STABBR
AK      2493.0   4052.0
AL      2790.0   4658.0
AR      1644.0   3143.0
AS      1276.0      NaN
AZ      4130.0  14894.0

In [22]:
#Pandas doesnt provide func to calculate max number of SD away from mean

def max_deviation(s):
    std_score = (s - s.mean()) / s.std()
    return std_score.abs().max()
college.groupby('STABBR')['UGDS'].agg(max_deviation).round(1).head()

'''
Looking ahead at step 3, you will notice that the function name is placed
inside the agg method without directly being called. Nowhere is the parameter s explicitly
passed to max_deviation . Instead, pandas implicitly passes the UGDS column as a Series to
max_deviation
'''

college.groupby(['STABBR', 'UGDS']).head()

,INSTNM,CITY,STABBR,HBCU,MENONLY,WOMENONLY,RELAFFIL,SATVRMID,SATMTMID,DISTANCEONLY,...,UGDS_2MOR,UGDS_NRA,UGDS_UNKN,PPTUG_EF,CURROPER,PCTPELL,PCTFLOAN,UG25ABV,MD_EARN_WNE_P10,GRAD_DEBT_MDN_SUPP
0,Alabama A & M University,Normal,AL,1.0,0.0,0.0,0,424.0,420.0,0.0,...,0.0000,0.0059,0.0138,0.0656,1,0.7356,0.8284,0.1049,30300,33888
1,University of Alabama at Birmingham,Birmingham,AL,0.0,0.0,0.0,0,570.0,565.0,0.0,...,0.0368,0.0179,0.0100,0.2607,1,0.3460,0.5214,0.2422,39700,21941.5
2,Amridge University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,1.0,...,0.0000,0.0000,0.2715,0.4536,1,0.6801,0.7795,0.8540,40100,23370
3,University of Alabama in Huntsville,Huntsville,AL,0.0,0.0,0.0,0,595.0,590.0,0.0,...,0.0172,0.0332,0.0350,0.2146,1,0.3072,0.4596,0.2640,45500,24097
4,Alabama State University,Montgomery,AL,1.0,0.0,0.0,0,425.0,430.0,0.0,...,0.0098,0.0243,0.0137,0.0892,1,0.7347,0.7554,0.1270,26600,33118.5
5,The University of Alabama,Tuscaloosa,AL,0.0,0.0,0.0,0,555.0,565.0,0.0,...,0.0261,0.0268,0.0026,0.0844,1,0.2040,0.4010,0.0853,41900,23750
6,Central Alabama Community College,Alexander City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0019,0.3882,1,0.5892,0.3977,0.3153,27500,16127
7,Athens State University,Athens,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0174,0.0057,0.0334,0.5517,1,0.4088,0.6296,0.6410,39000,18595
8,Auburn University at Montgomery,Montgomery,AL,0.0,0.0,0.0,0,486.0,509.0,0.0,...,0.0297,0.0397,0.0246,0.2853,1,0.4192,0.5803,0.2930,35000,21335
9,Auburn University,Auburn,AL,0.0,0.0,0.0,0,575.0,588.0,0.0,...,0.0000,0.0100,0.0140,0.0862,1,0.1610,0.3494,0.0415,45700,21831
10,Birmingham Southern College,Birmingham,AL,0.0,0.0,0.0,1,560.0,560.0,0.0,...,0.0051,0.0000,0.0051,0.0017,1,0.1920,0.4809,0.0152,44200,27000
11,Chattahoochee Valley Community College,Phenix City,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0151,0.0000,0.0139,0.4198,1,0.6369,0.2537,0.3876,26100,9000
12,Concordia College Alabama,Selma,AL,1.0,0.0,0.0,1,420.0,400.0,0.0,...,0.0031,0.0466,0.0000,0.1056,1,0.8667,0.9333,0.2367,19900,PrivacySuppressed
13,South University-Montgomery,Montgomery,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0019,0.0326,0.3238,1,0.6845,0.7129,0.5726,28800,25167
14,Enterprise State Community College,Enterprise,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0254,0.0012,0.0069,0.3823,1,0.4895,0.2263,0.3399,24600,8273
15,James H Faulkner State Community College,Bay Minette,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0152,0.0007,0.0009,0.4104,1,0.4725,0.3741,0.2909,28700,11000
16,Faulkner University,Montgomery,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0173,0.0182,0.0258,0.2302,1,0.5812,0.7253,0.4589,37200,22000
17,Gadsden State Community College,Gadsden,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0185,0.0150,0.0169,0.4523,1,0.5734,0.0000,0.3733,25700,PrivacySuppressed
18,New Beginning College of Cosmetology,Albertville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0783,1,0.8224,0.8553,0.3933,NaN,5500
19,George C Wallace State Community College-Dothan,Dothan,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0126,0.0000,0.0009,0.4787,1,0.5501,0.0000,0.3920,26600,PrivacySuppressed
20,George C Wallace State Community College-Hance...,Hanceville,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0059,0.0183,0.4203,1,0.5026,0.4192,0.3229,28800,11186
21,George C Wallace State Community College-Selma,Selma,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0033,0.0040,0.0443,0.3840,1,0.7645,0.0000,0.3318,24200,PrivacySuppressed
22,Herzing University-Birmingham,Birmingham,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0563,0.0000,0.0397,0.5497,1,0.6541,0.7736,0.7813,42300,23216.5
23,Huntingdon College,Montgomery,AL,0.0,0.0,0.0,1,510.0,490.0,0.0,...,0.0261,0.0061,0.0827,0.2097,1,0.3982,0.7153,0.1937,36500,26230
24,Heritage Christian University,Florence,AL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0161,0.0323,0.4355,1,0.6087,0.4493,0.5942,PrivacySuppressed,PrivacySuppressed
25,J F Drake State Community and Technical College,Huntsville,AL,1.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0185,0.0000,0.0062,0.4394,1,0.5763,0.0000,0.4555,22300,PrivacySuppressed
26,Jacksonville State University,Jacksonville,AL,0.0,0.0,0.0,0,495.0,485.0,0.0,...,0.0000,0.0234,0.0280,0.1989,1,0.4428,0.6825,0.2200,34600,23000
27,Jefferson Davis Community College,Brewton,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0184,0.0000,0.0397,0.4424,1,0.5765,0.0000,0.4060,25400,PrivacySuppressed
28,Jefferson State Community College,Birmingham,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0301,0.0054,0.0001,0.6050,1,0.3372,0.2101,0.3671,29400,8916.5
29,John C Calhoun State Community College,Tanner,AL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0428,0.0062,0.0162,0.5795,1,0.3933,0.3024,0.3688,27400,10500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7133,Tint School of Makeup & Cosmetology-Seattle,Seattle,WA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0105,0.1263,0.0000,1,0.1923,0.1923,NaN,NaN,5631
7134,Centro de Estudios Multidisciplinarios-Mayaguez,Mayaguez,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0524,1,1.0000,0.0000,NaN,NaN,2525
7135,Heritage College-Cleveland,Middleburg Heights,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0816,0.0000,0.0000,0.0000,1,NaN,NaN,NaN,NaN,13228
7136,Aveda Institute-Phoenix,Tempe,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0398,0.0000,0.0057,0.0000,1,0.4831,0.6461,NaN,NaN,10555
7137,University of North Texas at Dallas,Dallas,TX,0.0,0.0,0.0,0,430.0,465.0,0.0,...,0.0142,0.0129,0.0129,0.4060,1,0.4813,0.4791,NaN,NaN,20000
7138,BridgeValley Community & Technical College,South Charleston,WV,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0016,0.3890,1,NaN,NaN,NaN,NaN,9429.5
7139,Northwest College-Medford,Medford,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0200,0.0000,1,0.4627,0.5821,NaN,NaN,17042
7140,Virginia College-Fort Pierce,Fort Pierce,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0043,0.0000,0.0609,0.2435,1,NaN,NaN,NaN,NaN,18331
7141,Houston Training Schools-Gessner,Houston,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0222,1,0.9659,0.0000,NaN,NaN,PrivacySuppressed
7142,Empire Beauty School-Buffalo,Cheektowaga,NY,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0377,0.0000,1,0.8710,1.0000,NaN,NaN,9833
7143,Paul Mitchell the School-Toledo,Sylvania,OH,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0351,0.0000,0.0351,0.2719,1,0.6849,0.8904,NaN,NaN,16500
7144,MJ's Barber Academy,Dallas,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,0,0.5000,0.3750,NaN,NaN,9834.5
7145,Trine University-Arizona Regional Campus,Peoria,AZ,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0357,0.0000,0.1071,0.3929,1,NaN,NaN,NaN,NaN,26000
7146,Regency Beauty Institute-Gaithersburg,Gaithersburg,MD,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.1750,0.0000,0.0000,0.0000,0,0.7719,0.8070,NaN,NaN,14144
7147,Georgia Military College,Milledgeville,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0027,0.0024,0.0625,0.3309,1,0.6202,0.7483,NaN,NaN,9646
7148,New Horizons Medical Institute-Winder,Winder,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0049,0.0000,0.0194,0.1214,1,0.2452,0.2355,NaN,NaN,7231
7149,SAE Institute of Technology-Chicago,Chicago,IL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0085,0.0339,0.0000,1,0.5664,0.4779,NaN,NaN,12000
7150,Beau Monde College of Hair Design-Beau Monde A...,Portland,OR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,0,0.0000,0.0000,NaN,NaN,12500
7151,Fayette Beauty Academy-Ritz Beauty Academy,Decatur,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.2414,0.2414,NaN,NaN,9500
7152,Fountain of Youth Academy of Cosmetology,Mars,PA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.8333,1,0.0000,0.0000,NaN,NaN,PrivacySuppressed
7153,MCI Institute of Technology-Boca Raton,Boca Raton,FL,0.0,0.0,0.0,1,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,0,0.3500,0.0000,NaN,NaN,6428
7154,West Coast University-Miami,Doral,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0435,0.0000,0.0000,0.3261,1,NaN,NaN,NaN,NaN,33116
7155,National American University-Houston,Houston,TX,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0751,0.0000,0.0119,0.9447,1,0.9158,0.9789,NaN,NaN,33523
7157,Aparicio-Levy Technical College,Tampa,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.0000,1,0.0000,0.0000,NaN,NaN,PrivacySuppressed
7158,Fred D. Learey Technical College,Tampa,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0022,0.0000,0.1779,0.0000,1,0.0000,0.0000,NaN,NaN,PrivacySuppressed
7159,Hollywood Institute of Beauty Careers-West Pal...,West Palm Beach,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0182,0.0909,0.0000,1,0.8248,0.8759,NaN,NaN,7735
7160,Hollywood Institute of Beauty Careers-Casselberry,Casselberry,FL,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0400,0.0000,0.0667,0.0000,1,0.6802,0.6802,NaN,NaN,7735
7161,Coachella Valley Beauty College-Beaumont,Beaumont,CA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0149,0.0000,0.0000,0.0000,1,0.8148,0.5432,NaN,NaN,2170
7162,Dewey University-Mayaguez,Mayaguez,PR,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0000,0.0000,0.0000,0.2128,1,0.9615,0.0000,NaN,NaN,PrivacySuppressed
7163,Coastal Pines Technical College,Waycross,GA,0.0,0.0,0.0,0,NaN,NaN,0.0,...,0.0191,0.0028,0.0056,0.6908,1,0.6540,0.0000,NaN,NaN,PrivacySuppressed